body{
    margin: 0;
    text-align: center;
}
.div1{
    width: 100%;
    background-image: linear-gradient(90deg, #f34079 20%, #fc894d 60%);
    padding-top: 30px;
}
/* 
We can use position tag to position elements on web type of postion are
   1:relative (element can only be placed relative to or after previous element)
   2:absolute (element can be placed anywhere on site)
   3:static   (usually default settings are refered as static
font-size to 100% is equal to 16px to fix font size as per web display size
for example 
60px the 60/16 = 3.75 ( 375 % )
375% will be used and recomended, also 
font size 100% = 16px = 1em 
*/
.gap{
    margin-top: -20px;
    color: rgb(132, 205, 22);
    font-weight: bolder;
}
.gap1{
    margin-top: -10px;
}
.gap2{
    margin-top: -20px;
    color: rgb(132, 205, 22);
    font-weight: bolder;
    text-align: right;
}
.para1{
    margin-top: -10pxp;
}
#name{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    margin-top: -10px;
}
#class{
    color: #eff718;
    margin-top: -30px;
    font-size: 20px;
    font-weight: normal; 
    font-family: 'Shantell Sans', cursive;
}
#uni{
    color: #ff5d31;
    font-weight: bolder;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
    width: 7%;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    transition: all 1.1s;
}
.skill-row:hover{
    transform: scale(1.1);
}
p{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Labrada', serif;
}
h1{
    color: rgb(33, 130, 128);
    font-size: 50px;
    font-family: 'Shantell Sans', cursive;
}
h2{
    color: rgb(33, 130, 128);
    font-size: 30px;
    font-weight: bolder;
}
h3{
    color: rgb(33, 124, 122);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Labrada', serif;
}
.para2{
    padding-bottom: 40px;
}
#last-row{
    margin-top: 70px;
}
.cloud1{
    width: 300px;
    position: absolute;
    right: 250px;
    top: 0px;    
}
.cloud2{
    width: 300px;
    position: absolute;
    left: 150px;
    top: 150px;
}
.cloud3{
    width: 300px;
    position: absolute;
    right: 50px;
    top: 220px;
}
.mountain{
    width: 400px;
    height: auto;
    margin-top: -10px;
}
.profilepic{
    width: 180px;
    padding-top: 10px;
    position: relative;
    margin-top: -30px;
}
.skill-image1{
    float: left;
    width: 200px;
    transition: all 1.1s;
}
.skill-image2{
    float: right;
    width: 200px;
    transition: all 1.1s;
}
.skill-image1:hover{
    transform: scale(1.1);
}
.skill-image2:hover{
    transform: scale(1.1);
}
.button{
    margin-top: 50px;
    width: 10em;
    height: 5ex;
    background-image: linear-gradient(180deg, #11cdd4 30%, #11999e);
    border: none;
    border-radius: 7px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Shantell Sans', cursive;
    transition: all 1.1s;

}
.button:hover {
    background-image: linear-gradient(180deg, #30e3cb ,#2bc4ad);
    transform: scale(1.2);    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
    margin-top: 60px;
}
.footer-link{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}
.footer-link:hover{
    color: #ffffff;
}
#copyright{
    padding: 20px 0px;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
}